/*style.css file for css effects*/

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #2f2f2f;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width:auto;
    max-width: auto;
    margin: 0 auto;
    padding: 20px 0;
    margin-left: 8px;
}
/*Header bar */
.headerBar{
    background-color:black;
    border-radius: 5px;   
}

/* Header and Navigation */

header {
    background:white;
    border-bottom: 2px solid #e6e0e0;
    padding: 10px 0;
}
.site-logo {
    height:120px;
    width: 120px;;
    vertical-align:middle;
    display:inline-block;
}

@media(max-width: 600px)
{
    .site-logo {
            height:80px;
            width: 80px;;
            margin-right: 0.5rem;
    }
}

header h1 {
    font-size: 24px;
    margin: 0 0 10px 0;
    color: #d7d2d2;
}

nav{
    text-decoration: none;
    color: #f2f4f6;
    margin-right: 15px;
    font-weight: bold;
}

button{
    /*navigation button styling*/
    background-color: rgb(70, 69, 69);
    font-size: medium;
    padding: 1rem 2 rem;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 350;
    color: #e9eef2;
    border-radius:6px;
    border-style:double;
    box-shadow:0 2px rgb(54, 56, 54);
    width: 110px;
    height: 35px;
    border-color: rgb(42, 42, 44);
    text-align:center;
    transition: background 0.2s;
    cursor: pointer;
}
button:hover{
    background-color: rgb(160, 185, 233);
    transition: 0.3s;
    color: #2a2828;
 
}

/*main*/
main {
    padding-top: 40px;
    padding-bottom: 60px;
}

section {
    background: #ecebeb;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(14, 13, 13, 0.302);
}

section h2 {
    color: #262626;
    border-bottom: 2px solid #93ab97;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.feature-block {
    margin-top: 20px;
    padding-left: 20px;
    border-left: 4px solid #8b8a8a;
}


/* 4. Code Blocks styling*/

pre {
    background: #3d3c3c; /* Dark background */
    color: #18181d; /* Light text */
    padding: 18px;
    border-radius: 5px;
    overflow-x: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9em;
}

code {
    font-family: 'Courier New', Courier, monospace;
    background: #b9b2e6;
    padding: 2px 4px;
    border-radius: 3px;
}
 /*footor*/
footer {
    background: #474b47;
    color: #edf0ed;
    text-align: center;
    padding: 10px 0;
}

footer a {
    color: #101f10;
    text-decoration: none;
}